body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero {
    margin-top: -12%;
}

#btnContainer {
    margin-bottom: 4%;
}

.button {
    width: 80px;
    padding: 8px;
}

#container {
    width: 40%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, minmax(0, 1fr));
    /* background-color: bisque; */
}





